.top_left::after .top_left::before {
  position: absolute;
  content: "";
  /* width: 1.25em; */
  /* height: 1.25em; */
  background: #020c2b;
}

.one {
  /* inset: calc(100% - 4em) 0 0 calc(100% - 4em); */
  border-radius: 100%;
  /* border-right: none !important; */
  /* border-bottom: none !important; */
  /* transform: rotate(45deg); */
}

.box1 {
  position: absolute;
  top: 167px;
  left: 383px;
  width: 49%;
  height: 49%;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
  border-radius: 100%;
  border: 2px solid #67bafe;
  transform: rotate(128deg);
}
.box2 {
  position: absolute;
  top: 182px;
  right: 372px;
  width: 49%;
  height: 49%;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
  border-radius: 100%;
  border: 2px solid #67bafe;
  transform: rotate(239deg);
}
.box3 {
  position: absolute;
  top: -40px;
  left: 377px;
  width: 49%;
  height: 49%;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
  border-radius: 100%;
  border: 2px solid #67bafe;
  transform: rotate(235deg);
}
.box4 {
  position: absolute;
  top: -41px;
  right: 377px;
  width: 49%;
  height: 49%;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
  border-radius: 100%;
  border: 2px solid #67bafe;
  transform: rotate(305deg);
}

@media screen and (max-width: 1600px) {
  .box1 {
    position: absolute;
    top: 196px;
    left: 284px;
    width: 46%;
    height: 21%;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
    border-radius: 100%;
    border: 2px solid #67bafe;
    transform: rotate(133deg);
  }
  .box2 {
    position: absolute;
    top: 205px;
    right: 285px;
    width: 40%;
    height: 16%;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
    border-radius: 100%;
    border: 2px solid #67bafe;
    transform: rotate(230deg);
  }
  .box3 {
    position: absolute;
    top: 15px;
    left: 275px;
    width: 49%;
    height: 21%;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
    border-radius: 100%;
    border: 2px solid #67bafe;
    transform: rotate(230deg);
  }
  .box4 {
    position: absolute;
    top: 34px;
    right: 285px;
    width: 39%;
    height: 14%;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
    border-radius: 100%;
    border: 2px solid #67bafe;
    transform: rotate(311deg);
  }
}
@media screen and (max-width: 1150px) {
  .box1 {
    position: absolute;
    top: 278px;
    left: 163px;
    width: 63%;
    height: 28%;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
    border-radius: 100%;
    border: 2px solid #67bafe;
    transform: rotate(135deg);
  }
  .box2 {
    position: absolute;
    top: 285px;
    right: 166px;
    width: 49%;
    height: 8%;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
    border-radius: 100%;
    border: 2px solid #67bafe;
    transform: rotate(220deg);
  }
  .box3 {
    position: absolute;
    top: 20px;
    left: 170px;
    width: 49%;
    height: 11%;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
    border-radius: 100%;
    border: 2px solid #67bafe;
    transform: rotate(221deg);
  }
  .box4 {
    position: absolute;
    top: 13px;
    right: 162px;
    width: 53%;
    height: 13%;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
    border-radius: 100%;
    border: 2px solid #67bafe;
    transform: rotate(319deg);
  }
}
@media screen and (max-width: 850px) {
  .box1 {
    display: none;
  }
  .box2 {
    display: none;
  }
  .box3 {
    display: none;
  }
  .box4 {
    display: none;
  }
}
